<!-- Bootstrap Styles-->
<link href="$PathHelper.getStaticUrl()common/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet" />
<link href="$PathHelper.getStaticUrl()common/bootstrap-3.3.5/css/bootstrap-theme.min.css" rel="stylesheet" />
<link href="$PathHelper.getStaticUrl()common/bootstrap-3.3.5/css/bootstrap-table.min.css" rel="stylesheet" />
<!-- FontAwesome Styles-->
<link href="$PathHelper.getStaticUrl()common/css/font-awesome.css" rel="stylesheet" />
<!-- Morris Chart Styles-->
<!-- <link href="$PathHelper.getStaticUrl()common/js/morris/morris.css" rel="stylesheet" /> -->
<!-- Custom Styles-->
<link href="$PathHelper.getStaticUrl()common/css/custom-styles.css" rel="stylesheet" />
<!-- Google Fonts-->
<!-- <link href='http://fonts.useso.com/css?family=Open+Sans' rel='stylesheet' type='text/css' /> -->


<!-- JS Scripts-->
 <!-- jQuery Js -->
 <script src="$PathHelper.getStaticUrl()common/js/jquery-1.12.3.min.js"></script>
 
  <script src="$PathHelper.getStaticUrl()common/js/html5shiv.min.js"></script>
  <script src="$PathHelper.getStaticUrl()common/js/respond.min.js"></script>
 
 <!-- Bootstrap Js -->
 <script src="$PathHelper.getStaticUrl()common/bootstrap-3.3.5/js/bootstrap.min.js"></script>
 <script src="$PathHelper.getStaticUrl()common/bootstrap-3.3.5/js/bootstrap-table.min.js"></script>
 <script src="$PathHelper.getStaticUrl()common/bootstrap-3.3.5/js/bootstrap-table-zh-CN.min.js"></script>

 <!-- Metis Menu Js -->
 <script src="$PathHelper.getStaticUrl()common/js/jquery.metisMenu.js"></script>
 
 <!-- Morris Chart Js -->
 <script src="$PathHelper.getStaticUrl()common/js/morris/raphael-2.1.0.min.js"></script>
 <script src="$PathHelper.getStaticUrl()common/js/morris/morris.min.js"></script>

 <!-- Custom Js -->
 <script src="$PathHelper.getStaticUrl()common/js/custom-scripts.js"></script>
 
 <!-- vilidate -->
 <script src="$PathHelper.getStaticUrl()common/js/verifyUtil.js"></script>
 
  <!-- layer -->
 <script src="$PathHelper.getStaticUrl()common/layer/layer.js"></script>
 
<meta http-equiv="pragma" content="no-cache">
 <meta http-equiv="cache-control" content="no-cache">
 <meta http-equiv="expires" content="0">  
            
