<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sui.manager.dao.CustomerServiceDao" >
  <resultMap id="BaseResultMap" type="com.sui.manager.common.entity.vo.CustomerServiceVo" >
	<id column="id" property="id" jdbcType="INTEGER" />
	<result column="title" property="title" jdbcType="VARCHAR" />
	<result column="customer_id" property="customerId" jdbcType="INTEGER" />
	<result column="contract_name" property="contractName" jdbcType="VARCHAR" />
	<result column="recive_man_name" property="reciveManName" jdbcType="VARCHAR" />
	<result column="type" property="type" jdbcType="VARCHAR" />
	<result column="status" property="status" jdbcType="VARCHAR" />
	<result column="feed_date" property="feedDate" jdbcType="DATE" />
	<result column="hope_solve_date" property="hopeSolveDate" jdbcType="DATE" />
	<result column="visit_date" property="visitDate" jdbcType="DATE" />
	<result column="solvers" property="solvers" jdbcType="VARCHAR" />
	<result column="grade" property="grade" jdbcType="VARCHAR" />
	<result column="content" property="content" jdbcType="VARCHAR" />
	<result column="result" property="result" jdbcType="VARCHAR" />
	<result column="insert_user" property="insertUser" jdbcType="VARCHAR" />
	<result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <select id="query" resultMap="BaseResultMap" parameterType="com.shunwang.business.framework.mybatis.query.ConditionQuery">
		select t.*
		from customer_service t
		<include refid="conditionQuery.core" />
		order by
		<choose>
			<when test="paramMap.orderCol!=null">
				${paramMap.orderCol}
			</when>
			<otherwise>
				t.id
			</otherwise>
		</choose>
		
		<if test="paramMap.rp > 0">
			limit #{paramMap.firstResult} , #{paramMap.rp}
		</if>
  </select>
  <select id="queryCnt"
		parameterType="com.shunwang.business.framework.mybatis.query.ConditionQuery"
		resultType="java.lang.Integer">
		select count(*) from customer_service t
		<include refid="conditionQuery.core" />
  </select>
  <delete id="delete" parameterType="java.lang.Integer" >
    delete from customer_service
    where 
		id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="save" parameterType="com.sui.manager.common.entity.po.CustomerService">
	  	<selectKey resultType="int" keyProperty="id" >  
			select LAST_INSERT_ID() as value  
		</selectKey>  
    insert into customer_service (
		title,
		customer_id,
		contract_name,
		recive_man_name,
		type,
		status,
		feed_date,
		hope_solve_date,
		visit_date,
		solvers,
		grade,
		content,
		result,
		insert_user,
		insert_time
	)
    values (
		#{title,jdbcType=VARCHAR},
		#{customerId,jdbcType=INTEGER},
		#{contractName,jdbcType=VARCHAR},
		#{reciveManName,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR},
		#{status,jdbcType=VARCHAR},
		#{feedDate,jdbcType=DATE},
		#{hopeSolveDate,jdbcType=DATE},
		#{visitDate,jdbcType=DATE},
		#{solvers,jdbcType=VARCHAR},
		#{grade,jdbcType=VARCHAR},
		#{content,jdbcType=VARCHAR},
		#{result,jdbcType=VARCHAR},
		#{insertUser,jdbcType=VARCHAR},
		now()
    )
  </insert>
  <update id="update" parameterType="com.sui.manager.common.entity.po.CustomerService" >
    update customer_service
    set 
		title = #{title,jdbcType=VARCHAR},
		customer_id = #{customerId,jdbcType=INTEGER},
		contract_name = #{contractName,jdbcType=VARCHAR},
		recive_man_name = #{reciveManName,jdbcType=VARCHAR},
		type = #{type,jdbcType=VARCHAR},
		status = #{status,jdbcType=VARCHAR},
		feed_date = #{feedDate,jdbcType=DATE},
		hope_solve_date = #{hopeSolveDate,jdbcType=DATE},
		visit_date = #{visitDate,jdbcType=DATE},
		solvers = #{solvers,jdbcType=VARCHAR},
		grade = #{grade,jdbcType=VARCHAR},
		content = #{content,jdbcType=VARCHAR},
		result = #{result,jdbcType=VARCHAR},
		insert_user = #{insertUser,jdbcType=VARCHAR},
		insert_time = now()
    where 
		id = #{id,jdbcType=INTEGER}
  </update>
  <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id,
		title,
		customer_id,
		contract_name,
		recive_man_name,
		type,
		status,
		feed_date,
		hope_solve_date,
		visit_date,
		solvers,
		grade,
		content,
		result,
		insert_user,
		insert_time
    from customer_service
    where 
		id = #{id,jdbcType=INTEGER}
  </select>
</mapper>