<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sui.manager.dao.CustomerSalesDao" >
  <resultMap id="BaseResultMap" type="com.sui.manager.common.entity.vo.CustomerSalesVo" >
	<id column="id" property="id" jdbcType="INTEGER" />
	<result column="good_version" property="goodVersion" jdbcType="VARCHAR" />
	<result column="sale_date" property="saleDate" jdbcType="DATE" />
	<result column="customer_id" property="customerId" jdbcType="INTEGER" />
	<result column="take_user_id" property="takeUserId" jdbcType="INTEGER" />
	<result column="sign_user_id" property="signUserId" jdbcType="INTEGER" />
	<result column="good_number" property="goodNumber" jdbcType="VARCHAR" />
	<result column="sign_date" property="signDate" jdbcType="DATE" />
	<result column="send_date" property="sendDate" jdbcType="DATE" />
	<result column="pass_number" property="passNumber" jdbcType="VARCHAR" />
	<result column="code" property="code" jdbcType="VARCHAR" />
	<result column="page_number" property="pageNumber" jdbcType="VARCHAR" />
	<result column="is_bill" property="isBill" jdbcType="TINYINT" />
	<result column="pre_money" property="preMoney" jdbcType="DECIMAL" />
	<result column="recive_money" property="reciveMoney" jdbcType="DECIMAL" />
	<result column="insert_time" property="insertTime" jdbcType="TIMESTAMP" />
	<result column="insert_user" property="insertUser" jdbcType="VARCHAR" />
	<result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <select id="query" resultMap="BaseResultMap" parameterType="com.shunwang.business.framework.mybatis.query.ConditionQuery">
		select t.*
		from customer_sales t
		<include refid="conditionQuery.core" />
		order by
		<choose>
			<when test="paramMap.orderCol!=null">
				${paramMap.orderCol}
			</when>
			<otherwise>
				t.id
			</otherwise>
		</choose>
		
		<if test="paramMap.rp > 0">
			limit #{paramMap.firstResult} , #{paramMap.rp}
		</if>
  </select>
  <select id="queryCnt"
		parameterType="com.shunwang.business.framework.mybatis.query.ConditionQuery"
		resultType="java.lang.Integer">
		select count(*) from customer_sales t
		<include refid="conditionQuery.core" />
  </select>
  <delete id="delete" parameterType="java.lang.Integer" >
    delete from customer_sales
    where 
		id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="save" parameterType="com.sui.manager.common.entity.po.CustomerSales">
	  	<selectKey resultType="int" keyProperty="id" >  
			select LAST_INSERT_ID() as value  
		</selectKey>  
    insert into customer_sales (
		good_version,
		sale_date,
		customer_id,
		take_user_id,
		sign_user_id,
		good_number,
		sign_date,
		send_date,
		pass_number,
		code,
		page_number,
		is_bill,
		pre_money,
		recive_money,
		insert_time,
		insert_user,
		remark
	)
    values (
		#{goodVersion,jdbcType=VARCHAR},
		#{saleDate,jdbcType=DATE},
		#{customerId,jdbcType=INTEGER},
		#{takeUserId,jdbcType=INTEGER},
		#{signUserId,jdbcType=INTEGER},
		#{goodNumber,jdbcType=VARCHAR},
		#{signDate,jdbcType=DATE},
		#{sendDate,jdbcType=DATE},
		#{passNumber,jdbcType=VARCHAR},
		#{code,jdbcType=VARCHAR},
		#{pageNumber,jdbcType=VARCHAR},
		#{isBill,jdbcType=TINYINT},
		#{preMoney,jdbcType=DECIMAL},
		#{reciveMoney,jdbcType=DECIMAL},
		now(),
		#{insertUser,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR}
    )
  </insert>
  <update id="update" parameterType="com.sui.manager.common.entity.po.CustomerSales" >
    update customer_sales
    set 
		good_version = #{goodVersion,jdbcType=VARCHAR},
		sale_date = #{saleDate,jdbcType=DATE},
		customer_id = #{customerId,jdbcType=INTEGER},
		take_user_id = #{takeUserId,jdbcType=INTEGER},
		sign_user_id = #{signUserId,jdbcType=INTEGER},
		good_number = #{goodNumber,jdbcType=VARCHAR},
		sign_date = #{signDate,jdbcType=DATE},
		send_date = #{sendDate,jdbcType=DATE},
		pass_number = #{passNumber,jdbcType=VARCHAR},
		code = #{code,jdbcType=VARCHAR},
		page_number = #{pageNumber,jdbcType=VARCHAR},
		is_bill = #{isBill,jdbcType=TINYINT},
		pre_money = #{preMoney,jdbcType=DECIMAL},
		recive_money = #{reciveMoney,jdbcType=DECIMAL},
		insert_time = now(),
		insert_user = #{insertUser,jdbcType=VARCHAR},
		remark = #{remark,jdbcType=VARCHAR}
    where 
		id = #{id,jdbcType=INTEGER}
  </update>
  <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id,
		good_version,
		sale_date,
		customer_id,
		take_user_id,
		sign_user_id,
		good_number,
		sign_date,
		send_date,
		pass_number,
		code,
		page_number,
		is_bill,
		pre_money,
		recive_money,
		insert_time,
		insert_user,
		remark
    from customer_sales
    where 
		id = #{id,jdbcType=INTEGER}
  </select>
</mapper>